<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Home</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header-wrapper">
	<div id="header">
		<div id="menu">
			<ul>
				<li><a href="index.html" class="first">Home</a></li>
				<li class="current_page_item"><a href="index.html">Blog</a></li>
				<li><a href="index.html">Contact</a></li>
			</ul>
		</div>
		<!-- end #menu -->
	</div>
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="logo">
	<h1><a href="http://www.google.com/"> Our Group </a></h1>
	<h3>Shixuan Zhao, Qinlin Chen, Yicheng Huang</h3>
</div>
<hr />
<!-- end #logo -->
<div id="page">
	<div id="page-bgtop">
		<div id="content">
			<div class="post">
				<p class="meta"><span class="date">Monday, Febrary 26, 2018</span></p>
				<h2 class="title">The Chinese University of Hong Kong</h2>
				<div class="entry">
					<p>Today we went to <strong>CUHK </strong></P>
					<img src="heying2.jpg" width="60%"  align="middle" />
				</div>
			</div>
			<div class="post">
				<p class="meta"><span class="date">Tuesday, Febrary 27, 2018</span></p>
				<h2 class="title">Hong Kong University of Science and Technology</h2>
				<div class="entry">
					<p>Today we went to <strong>HKUST</strong></p>
					<img src="heying.jpg" width="60%"  align="middle" />
				</div>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>Download Link</h2>
					<ul>
						<li><a href="pdf.html">pa2017.pdf</a></li>
						<li><a href="ICS17a-ex6.pptx" download="ICS17a-ex6">ICS17a-ex6.pptx</a></li>
					</ul>
					
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
	<!-- end #footer -->
</div>
</body>
</html>


